{% extends "templates/app.twig" %}

{% block content %}

    {{ include('templates/partials/message.twig') }}

    <h3>Übersetzung mit der Id: '{{ response.translation.msgId }}' ändern</h3>

    {% if session.isLoggedIn() %}
        <form class="form-horizontal" method="post" action="/updateTranslation">

            {# CSRF Protection Token #}
            <input type="hidden" name="csrf" value="{{ session.getValue('token') }}">
            {# Message Id für die Weitergabe an die Verarbeitung #}
            <input type="hidden" name="msgId" value="{{ response.translation.msgId }}">

            <div class="form-group {% if session.getValue('error').get('msgGerman') %}has-error{% endif %}">
                <label for="msgGerman" class="col-sm-2 control-label">Text Deutsch</label>
                <div class="col-sm-6">
                    <textarea class="form-control" id="msgGerman" name="msgGerman"
                              rows="12">{{ session.getValue('populate').get('msgGerman')|e('html_attr') }}
                    </textarea>
                    {% if session.getValue('error').get('msgGerman') %}
                        <span id="errorBlock" class="help-block"><small>{{ session.getValue('error').get('msgGerman') }}</small></span>
                    {% endif %}
                </div>
            </div>

            <div class="form-group {% if session.getValue('error').get('msgFrench') %}has-error{% endif %}">
                <label for="msgFrench" class="col-sm-2 control-label">Text Französisch</label>
                <div class="col-sm-6">
                    <textarea class="form-control" id="msgFrench" name="msgFrench"
                              rows="12">{{ session.getValue('populate').get('msgFrench')|e('html_attr') }}
                    </textarea>
                    {% if session.getValue('error').get('msgFrench') %}
                        <span id="errorBlock" class="help-block"><small>{{ session.getValue('error').get('msgFrench') }}</small></span>
                    {% endif %}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn btn-primary">Ändern</button>
                </div>
            </div>

        </form>
    {% else %}
        <a href="../loginView" class="btn btn-warning btn-md active" role="button">Melden Sie sich bitte an um die Übersetzung zu ändern.</a>
    {% endif %}

{% endblock %}
