{% extends "templates/app.twig" %}

{% block content %}

    <h3>Übersetzung mit der Id '{{ response.translation.msgId }}' ändern</h3>

        <form class="form-horizontal" method="post" action="/updateTranslation">

            {# CSRF Protection Token #}
            <input type="hidden" name="csrf" value="{{ session.getValue('token') }}">
            <input type="hidden" name="msgId" value="{{ response.translation.msgId }}">

            <div class="form-group {% if session.getValue('error').get('msgGerman') %}has-error{% endif %}">
                <label for="msgGerman" class="col-sm-2 control-label">Text Deutsch</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="msgGerman" name="msgGerman" value="{{ session.getValue('populate').get('msgGerman')|e('html_attr') }}">
                    {% if session.getValue('error').get('msgGerman') %}
                        <span id="errorBlock" class="help-block"><small>{{ session.getValue('error').get('msgGerman') }}</small></span>
                    {% endif %}
                </div>
            </div>

            <div class="form-group {% if session.getValue('error').get('msgFrench') %}has-error{% endif %}">
                <label for="msgFrench" class="col-sm-2 control-label">Text Französich</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="msgFrench" name="msgFrench" value="{{ session.getValue('populate').get('msgFrench')|e('html_attr') }}">
                    {% if session.getValue('error').get('msgFrench') %}
                        <span id="errorBlock" class="help-block"><small>{{ session.getValue('error').get('msgFrench') }}</small></span>
                    {% endif %}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn btn-primary">Ändern</button>
                </div>
            </div>

        </form>

{% endblock %}
